{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    .rectangle {
        width: 1520px;
        height: 50px;
        background: #3B7575;
    }

    .rectangle1 {
        width: 1520px;
        height: 30px;
        background: #56AAAA;
    }

    .t{
        font-size: 25px;
        color: #FFC000
    }
    .w3-btn {width:150px;}

        .center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }

</style>
  <div class="rectangle "><p class="t">Change password</p></div>
  <div class="rectangle1"></div>
    <br><br><br><br><br><br><br><br>
    <div class="center">
        <div class="w3-container">
            <br>
            <h3>Change password</h3>
            <br><br>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                        <p><button class="w3-button w3-green w3-round-xlarge">Change password</button>
                        <a class="w3-button w3-green w3-round-xlarge " href="{% url 'home' %}">Back to home</a></p>
                </form>
            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br>
  <div class="rectangle1"></div>
  <div class="rectangle "></div>

{% endblock %}